<div class="page-header">
  <h1>Dailies</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newDailiesPath() %>" class="btn btn-primary">Create New Daily</a></li>
</ul>

<table class="table table-striped">
  <thead>
	  <th>Name</th>
	  <th>Last Reset</th>
	  <th>Next Due date</th>
  <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (daily) in dailies { %>
      <tr>
      <td><%= daily.Name  %></td>
      <td><%= daily.ResetAt %></td>
      <%= if (dueDatePassed(daily)) {%>
      <td> <span class="badge badge-danger"><%= getDueDate(daily)%></span></td>
      <%} else { %>
      	<td> <span class="badge badge-info"><%= getDueDate(daily)%></span></td>
      <% } %>	
      <td>
          <div class="pull-right">
            <a href="<%= editDailyPath({ daily_id: daily.ID }) %>" class="btn btn-success">Reset</a>
            <a href="<%= dailyPath({ daily_id: daily.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editDailyPath({ daily_id: daily.ID }) %>" class="btn btn-warning">Edit</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
